<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/routes/users.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/newQuiz.js"></script>
 <script>
  function functionA() {
      document.getElementById("Answer1-1").style.backgroundColor = "#FA8334";
      document.getElementById("Answer1-1").style.borderColor = "#FA8334";
  };
  function functionB() {
    document.getElementById("Answer1-2").style.backgroundColor = "#118AB2";
    document.getElementById("Answer1-2").style.borderColor = "#118AB2";
  };
  function functionC() {
    document.getElementById("Answer1-3").style.backgroundColor = "#FA8334";
    document.getElementById("Answer1-3").style.borderColor= "#FA8334";
  };
  function functionD() {
    document.getElementById("Answer1-4").style.backgroundColor= "#FA8334";
    document.getElementById("Answer1-4").style.borderColor = "#FA8334";
  };
  </script>
  <%- include('./partials/header') %>
</head>

<body>
  <main class ="container">
    <h1> Take Quiz </h1>

    <hr class="titleLine">


    <section class="title-maker-container">
      <form id="QuizLayout" method="post" action="/quiz" class="title-maker">
        <div class = title>

          <div name="topic" id="title-topic"> Geography </div>
        </div>

        <div id =Question1>

          <!-- <h4 id="questionOrder"> Your First Question </h4> -->

          <div id="question-box" class="QuestionBox">
            <div class="Questiontitlecontainer">
              <div id="question-content" name="text" class="questionTitle"> Where is the Trevi Fountain located ? </div>
            </div>
            <div id="answer-container" class ="AnswersContainer">
              <div class = "ManditoryAnswers">
                <div class="allAnswer">
                  <div id="answerTagA" class="answerTag"> A </div>
                  <div name="text" id="Answer1-1" class="answer" onclick="functionA()"> France </div>
                </div>
                <div class="allAnswer">
                  <div id="answerTagB" class="answerTag"> B </div>
                  <div name="text" id="Answer1-2" class="answer"  onclick="functionB()"> Italy </div>
                </div>
                <div id="extra3" class="allAnswer">
                  <div id="answerTagC" class="answerTag"> C </div>
                  <div name="text" id="Answer1-3" class="answer"  onclick="functionC()"> Spain </div>
                </div>
                <div id="extra4" class="allAnswer extra">
                  <div id="answerTagD" class="answerTag"> D </div>
                  <div name="text" id="Answer1-4" class="answer" onclick="functionD()"> England </div>
                </div>
              </div>
              <div class="ExtraAnswers">
                <button class="AddAnswer"> Next Question > </button>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div id =Question2>

        </div>
        \
        <div class="Createbutton">
          <button id="submit" class="Createbutton"> Submit </button>
        </div>
      </form>
  </section>
  </main>
</body>

</html>
