<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/routes/users.js"></script>
  <script defer src="/scripts/app.js"></script>
  <%- include('./partials/header') %>
</head>

<body>
  <main class ="container">
    <section class="searchBar">
      <form method="get" action="/search" id="quizSearch">
        <label for="search-text" id="searchButton">Search</label>
        <textarea name="text" id="search-text" placeholder="What quiz are you looking for?"></textarea>
        <div class="lowerHalf">
          <button type="submit" class="searchButton">Search</button>
        </div>
      </form>
    </section>

    <section class = "quizContainer">
      <section class = "quiz">
        <h1>Title</h1>
        <h2>10 questions</h2>
        <h3>Author</h3>
      </section>

      <section class = "quiz">
        <h1>Title</h1>
        <h2>10 questions</h2>
        <h3>Author</h3>
      </section>

      <section class = "quiz">
        <h1>Title</h1>
        <h2>10 questions</h2>
        <h3>Author</h3>
      </section>



    </section>
  <h1>Have fun! 🥔</h1>
</main>
</main>
</body>

</html>
