<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/newquiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/routes/users.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/questionMaker.js"></script>
  <script defer src="/scripts/answerMaker.js"></script>

  <%- include('./partials/header') %>
</head>

<body>
  <main class ="container">

    <section class="title-maker-container">
      <form method="post" action="/quiz" class="title-maker">
        <div class = title>
        <textarea name="text" id="title-maker" placeholder="Title of the quiz goes here"></textarea>
      </div>

      <div id =Question1>
      <div class="QuestionBox">
        <div class="Questiontitlecontainer">
        <textarea name="text" class="questionTitle" placeholder="What's the Question?"></textarea>
      </div>

      <div class ="AnswersContainer">
        <div class = "ManditoryAnswers">
        <div class="allAnswer">
          <div class="answerTag"> A </div>
        <input name="text" id="Answer 1-1" class="answer" placeholder="Answer 1">
        </div>
        <div class="allAnswer">
          <div class="answerTag"> B </div>
        <input name="text" id="Answer 1-2" class="answer" placeholder="Answer2">
        </div>

      </div>
      <div class="ExtraAnswers">
        <button class="AddAnswer">Add a answer</button>
      </div>
    </div>
    </div>
    </div>


      <div>
        <button class ="AddQuestion">+ Add A Question</button>
      </div>

        <div class="Createbutton">
          <button type="submit" class="Createbutton">Create</button>
        </div>
      </form>
    </section>



    </section>
</main>
</main>
</body>

</html>
