<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Results</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/routes/users.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/newQuiz.js"></script>
<script>
  function functionC() {
    document.getElementById("circle1").style.clipPath = "polygon(0% 0%, 95% 0%, 75% 100%, 0% 100%)";
    document.getElementById("circle1").textContent = "75%";
};
</script>

  <%- include('./partials/header') %>

  <script type="application/javascript" defer src="/scripts/testdb.js"></script>
</head>

<body>
  <%- include('./partials/header') %>
  <main class ="container">
    <h1> My Results </h1>

    <hr class="titleLine">


    <section class="title-maker-container">
      <form id="QuizLayout" method="POST" action="/quiz" class="title-maker">
        <div class = title>

        </div>





        <div id="circle1" onclick="functionC()"> 100% </div>
        <div id="circle2"></div>

        <!-- <svg id="cut-circ" viewBox="0 0 100 100">
          <circle id="circle1" cx="50" cy="50" r="23" />
          <circle id="circle2" cx="50" cy="50" r="23"/>
        </svg> -->


        <div class="Createbutton">
          <button id="done" class="done"> Done </button>
        </div>
      </form>
  </section>
  </main>
</body>

</html>
