*{
  box-sizing: border-box;
}

.title-maker-container{
  display: flex;
  margin-top: 7vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column
}

#title-maker {
  width: 80%;
  margin: 0 auto;
}
.QuestionBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  padding:20px;
  height:100%;
  padding-left: 8vh;
  padding-right: 8vh;
  margin-bottom: 20px;
}

.AnswersContainer{
  display: flex;
  margin:2vh;
  flex-direction: column;
}

.AddQuestion {
  margin:20px;
  background-color: antiquewhite;
}
